<figure class="text-center">
    <blockquote class="blockquote">
        <p>Образование спасет мир</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="easy-deep-learning">easy-deep-learning</cite>
    </figcaption>
</figure>

<p class="text-center text-muted">
    &copy; Copyright 2016-2021 
    <a href="https://easy-deep-learning.github.io">easy-deep-learning.github.io</a>
</p>
