<div class="container">
    <div class="row">
        <div class="col col-9">
            <h1>Словарь</h1>
        </div>
        <div class="col col-3">
            <% if (user) { %>
                <%- include('./user', { user }) %>
            <% } else { %>
                <%- include('./login') %>
            <% } %>
        </div>
    </div>
</div>
