<div class="user">
    <% if (user) { %>
        <ul>
            <li>email <%= user.profile.email %></li>
            <li>username <%= user.profile.username %></li>
            <li><img src="<%= user.profile.photo_url %>" width="64" /></li>
        </ul>
    <%  } %>
    <a href="/logout">Выйти</a>
</div>
