<div class="card word-item">
    <div class="card-body">
        <h5 class="card-title">Перевод</h5>
        <ul class="list-group list-group-flush">
            <% wordItem.translations.forEach( (translation) => { %>
                <li class="list-group-item">
                    <p><%= translation %></p>
                </li>
            <% }) %>
        </ul>
        
        <h6 class="card-subtitle">Примеры</h6>
        <ul class="list-group list-group-flush">
            <% wordItem.examples.forEach( (example) => { %>
                <li class="list-group-item">
                    <p><%= example.text %></p>
                    <% if (example.source) { %><p>Источник: <%= example.source %></p> <% } %>
                </li>
            <% }) %>
        </ul>

        <h6 class="card-subtitle">Синонимы</h6>
        <ul class="list-group list-group-flush">
            <% wordItem.synonyms.forEach( (synonym) => { %>
                <li class="list-group-item">
                    <p><%= synonym %></p>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
