<form class="word-edit-form" action="/words" method="post">
    <div class="row mb-3">
        <div class="col">
            <label for="word" class="form-label">слово</label>
            <input type="text" value="" class="form-control" id="word" name="word">

            <label for="translations" class="form-label">перевод, слова разделенные запятыми</label>
            <textarea class="form-control" id="translations" name="translations"></textarea>

            <fieldset>
                <legend>Примеры</legend>
                <textarea class="form-control word-example" name="example"></textarea>
                <div>
                    <button type="button" class="btn js-add-example">Добавить пример</button>
                </div>
            </fieldset>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>

<script>
  (() => {
    const form = document.querySelector('.word-edit-form')
    form.addEventListener('submit', async (e) => {
      e.preventDefault()

      const formData = new FormData(e.target)

      const body = {
        translations: formData.get('translations').split(',').map(word => word.trim()),
        synonyms: [],
        examples: formData.getAll('example')?.map(example => ({ text: example })),
        word: formData.get('word'),
      }

      let response = await fetch('/words', {
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
          'Accept': 'application/json',
        },
        method: 'POST',
        body: JSON.stringify(body),
      })

      let result = await response.json()

      console.log('result: ', result) // eslint-disable-line
    })
  })();

  (() => {
    const addExampleButton = document.querySelector('.js-add-example')

    addExampleButton.addEventListener('click', () => {
      const exampleTextarea = document.querySelectorAll('.word-example')
      const lastExampleElem = exampleTextarea[exampleTextarea.length - 1]
      const newExampleElem = lastExampleElem.cloneNode()

      newExampleElem.setAttribute('name', `example`)
      newExampleElem.value = ''

      lastExampleElem.after(newExampleElem)
    })

  })()
</script>
