<form class="word-search-form row row-cols-lg-auto g-2 align-items-center" action="/search">
    <div class="col">
        <label for="word" class="form-label">Email address</label>
        <input type="text" value="" class="form-control" id="word" name="word" aria-describedby="wordHelp">
        <div id="wordHelp" class="form-text">Пока поиск работает по целому слову.</div>
    </div>
    <div class="col"><button type="submit" class="btn btn-primary">Найти!</button></div>
</form>
